<title>Belajar Django</title>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    <title>Django People</title>
  </head>
<ul class="navbar navbar-expand-lg navbar-dark bg-dark">
    <li><a href="{% url 'polls:index' %}" >Home</a></li>
    <li><a href="{% url 'polls:add-question' %}">New Question</a></li>
    <li><a href="{% url 'polls:add-question' %}"> Test </a></li>
</ul>
<div class="content">
    {% block content %}
        {% block paginator %}   
        {% endblock %}
    {% endblock %}
</div>

