ul {
    list-style-type: none;
    background-color: #333333;
}
ul li {
    display: inline-block;
}
li {
    /*float: left;*/
    text-align: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

.pagination {
	display: inline-block;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}


